
<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css" /> -->
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <style>
        @page 
        { 
            size: A4 portrait;
            margin:0; 
        }

        :root {
            --p-font-length: 11px;
            --h-font-length:  11px;
            --title-font-length: 14px;
            --subtitle-font-length: 12px; 
        }

        .medium {
            --p-font-length: 13px;
            --h-font-length:  13px;
            --title-font-length: 16px;
            --subtitle-font-length: 14px; 

        }

        .small {
            --p-font-length: 11px;
            --h-font-length:  11px;
            --title-font-length: 14px;
            --subtitle-font-length: 12px; 
        }


        p, *, body, html, ul, li {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 1em;
        }

        *, body, html {
            font-family: 'Ubuntu';
        }

        .m-lr{
            margin: 0 2em;
        }

        .m-t{
            margin-top: 1em;
        }

        .m-b{
            margin-bottom: 20px;
        }

        body, html{
            background-color: #fff;
        }

        .header {
            margin-top: 2em;
            margin-left: 2em;
            margin-right: 2em;
        }

        .icon {
            margin-top: 2px;
        }

        .mb-4px {
            margin-bottom: 4px;
        }

        .set-list-position {
            position: relative;
            top: -1px;
        }

    </style>
</head>
<body style="height: 99.8vh;">
    <div class="small">
        <div class="wrapper" style="overflow: hidden; margin-bottom: 10px;">
            <div class="header" style="display: flex; justify-content: space-between; padding: 0 15px;">
               
                <div>
                    <% if (typeof titleName != "undefined") { %>
                        <h2 style="margin-bottom: 0.5em;"><%= titleName %></h2>
                    <% } %>

                    <% if (typeof titleDescription != "undefined") { %>
                        <p style="width: 400px; font-size: 12px;"><%= titleDescription %></p>
                    <% } %>
                </div>
    
                <div style="display: flex; flex-direction: column; gap: 5px;">
    
                    <% if (typeof email != "undefined") { %>
                        <div style="display: flex; margin-left: auto;">
                            <p style="font-size: var(--p-font-length); margin-right: 5px;"><%= email %></p>
                            <span style="font-size: var(--p-font-length); margin-top: 2px; width: 15px; text-align: center;"  class="fas fa-envelope" class="icon"></span>                    
                        </div>
                    <% } %>
    
                    <% if (typeof number != "undefined") { %>
                        <div style="display: flex; margin-left: auto;">
                            <p style="font-size: var(--p-font-length); margin-right: 5px;"><%= number %></p>
                            <span style="font-size: var(--p-font-length); margin-top: 2px; width: 15px; text-align: center;"  class="fas fa-mobile" class="icon"></span>                    
                        </div>
                     <% } %>
    
                     <% if (typeof location != "undefined") { %>
                        <div style="display: flex; margin-left: auto;">
                            <p style="font-size: var(--p-font-length); margin-right: 5px;"><%= location %></p>
                            <span style="font-size: var(--p-font-length); margin-top: 2px; width: 15px; text-align: center;"  class="fas fa-map-pin" class="icon"></span>                    
                        </div>
                     <% } %>

                     <% if (typeof linkedinUrl != "undefined") { %>
                        <div style="display: flex; margin-left: auto;">
                            <p style="font-size: var(--p-font-length); margin-right: 5px;"><%= linkedinUrl %></p>
                            <span style="font-size: var(--p-font-length); margin-top: 2px; width: 15px; text-align: center;"  class="fab fa-linkedin" class="icon"></span>                    
                        </div>
                     <% } %>
                </div>
            </div>
        </div>

        <div class="wrapper" style="border-top: 1px solid black;">
            <div class="two-column" style="margin: 1em 1em  0  1em; display: flex;" >

                <% if (typeof columns != "undefined" && columns.length === 2) { %>
                    <% for(let column of columns) { %>
                        <div style="flex: 1; padding: 0 20px;">      
                            <% for(let item of column){ %>
                                <div style="margin-bottom: 30px;">
                                    <h3 style="margin-bottom: 5px; font-size: var(--title-font-length)"><%= item.title %></h3>

                                    <% if(item.section) { %>
                                        <% for(let section of item.section) { %>
                                            <div style="margin-bottom: 15px;">
                                                <p style="margin-bottom: 3px;font-weight:800; font-size: var(--subtitle-font-length)"><%= section.title %></p>
                                                <p style="margin-bottom: 5px; font-size: var(--subtitle-font-length)"><%= section.subtitle %></p>

                                                <% if(section.date || section.location) { %>
                                                    <div style="font-size: 10px;display: flex; justify-content: space-between;">
                                                        <% if(section?.date?.from && section?.date?.to) { %>
                                                            <p><%=section?.date?.from%> - <%=section?.date?.to%></p>
                                                        <% } %>
                                                        <% if(section?.location) { %>
                                                            <p><%=section.location%></p>
                                                        <% } %>
                                                    </div>
                                                <% } %>

                                                <% if(section?.smallText) { %>
                                                    <% for(let smallText of section.smallText) { %>
                                                        <div style="font-size: 10px;display: flex; justify-content: space-between;">
                                                                <% for(let text of smallText) { %>
                                                                    <p><%=text%></p>
                                                                <% } %>
                                                        </div>
                                                    <% } %>

                                                <%}%>
        
                                                <% if(section.list) { %>
                                                    <% for(let list of section.list) { %>
                                                        <ul style="margin-left: 18px;">
                                                            <% if(list?.heading || list?.paragraph) { %>
                                                                <li class="mb-4px">
                                                                    <div style="margin-left: -6px;" class="set-list-position">
                                                                        <p>
                                                                            <% if(list.heading) { %>
                                                                                <span style="font-weight: bold; font-size: var(--h-font-length);">
                                                                                    <%= list.heading %>
                                                                                </span>
                                                                                <span>-</span>
                                                                            <% } %>
                                                                            <span style="font-size: var(--p-font-length);">
                                                                                <%= list.paragraph %>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            <% } %>
                                                        </ul>
                                                    <% } %>
                                                <% } else if (section.bulletList) { %>
                                                    <ul style="margin-left: 18px; display: flex; flex-wrap: wrap;">
                                                        <% for(let bulletList of section.bulletList) { %>
                                                            
                                                                <li style="margin-bottom: 3px; flex-basis: 50%">
                                                                    <div style="margin-left: -6px; width: calc(100% - 15px)" class="set-list-position">
                                                                        <p style="font-size: var(--p-font-length);">
                                                                            <%= bulletList.name %> 
                                                                        </p>
                                                                    </div>
                                                                </li>

                                                        <% } %>
                                                    </ul>
                                                <% } %>

                                            </div>
                                        <% } %>
                                    <% } %>

                                     <% if(item.chips) { %>
                                        <div class="toast" style="margin-top: 15px;">
                                            <% for(let chip of item.chips) { %>
                                                <span style="display: inline-block; background-color: rgb(143, 138, 138); color: #fff; padding: 5px 10px; border-radius: 5px; margin: 3px; font-size: var(--p-font-length);"><%=chip.name%></span>
                                            <% } %>
                                        </div>
                                    <% } %>


                                    <% if(item.chipsTransparent) { %>
                                        <div class="toast" style="margin-top: 15px;">
                                            <% for(let chip of item.chipsTransparent) { %>
                                                <span style="display: inline-block; border: 2px solid #ccc; color: #000; padding: 5px 10px; border-radius: 5px; margin: 3px; font-size: var(--p-font-length);"><%=chip%></span>
                                            <% } %>
                                        </div>
                                    <% } %>
                    
                                    <!-- <div style="font-size: 9px;display: flex; justify-content: space-between;">
                                        <p>12/2019 - Present</p>
                                        <p>Karachi</p>
                                    </div> -->
                    
                                    <!-- <p style="font-size: 9px;">Projects and Tasks</p> -->
                
                                    <!-- list of the task that i performed. -->
                                    
                
                                </div>
                            <% } %>
                        </div> 
                    <% } %>
                <% } %>

           </div>
        </div> 

    </div>
</body>
</html>